#signinWrap {
    background-image: url('puzzle-original.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    text-align: center;
    height: 700px;
    padding-top: 20px;
}

#signin {
    background-color: rgb(2, 184, 117);
    border-radius: 25px;
    text-align: center;
    max-width: 30rem;
    padding: 10px;
    
}