/* #studentResults {
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
} */

thead {
    background-color: rgb(2, 184, 117);
    border-radius: 5px;
    padding: 5px;
}

tbody {
    background-color: whitesmoke;
    border-radius: 5px;
}

#tdRowHead {
    font-weight: bold;
}

td {
    column-width: 200px;
}