#card {
    max-width : 22rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
    background-color: rgb(2, 184, 117);
}

.list-group-item {
    font-weight: bold;
    font-size: 16px;
}